extends layout

block content
  -
    sportsEnum = ["BADMINTON", "BASKETBALL", "BOWLING", "CRICKET", "EUROPEAN HANDBALL", "FIELD HOCKEY", "FLAG FOOTBALL",
    "HOCKEY", "LACROSSE", "RUGBY", "SOCCER", "SOFTBALL", "SQUASH", "TABLE TENNIS",
    "TENNIS", "TRACK MEET", "ULTIMATE FRISBEE", "VOLLEYBALL", "WATER POLO"]

  div.container-fluid
      div.col-sm-6.col-md-8
        #event
          h1.text-left #{event.title}
            div.event-wall.container-fluid
              div.event-info.col-md-6
                ul.event-details
                  li 
                    if event.createdBy === null
                      |Organizer: 
                      i deleted user
                    else
                      |Organizer: #[a(href='/profile?id='+event.createdBy._id)= event.createdBy.fullName]
                  li Date: #{event.date}
                  li Location: #{event.location} 
                  li Activity: #{event.type}
                  li Number of Players: #{event.numRequired}
                hr(style="margin-left:20px;")
                div.event-description
                  p #{event.description}
              if (event.createdBy !== null && user._id.equals(event.createdBy._id) || user.role === "ADMIN")
                div.edit-event.col-md-6
                  a.btn.btn-default.pull-right(onclick='showForm()', role='button') Edit
                  form#editEvent(action='/event', method='POST', style='display: none')
                    input( name='id', value=event._id, style='display:none')
                    input(type='text', name='title', class='form-control', placeholder='Title')
                    input(type='text', name='location', class='form-control', placeholder='Location')
                    #datetimepicker1.input-group.date
                      input(type='datetime-local', name='date', class='form-control', placeholder='Date and Time')
                      span.input-group-addon
                        span.glyphicon.glyphicon-calendar
                    select(name='type', class='form-control', placeholder='Activity')
                      each item in sportsEnum
                        option= item
                    textarea(name='description', cols='40', rows='10', class='form-control', placeholder='Description')
                    input(type='number', name='numRequired', class='form-control', placeholder='Number of Players')
                    button(class='btn btn-lg btn-primary btn-block', type='submit') Submit
                  form#editEvent(action='/delete', method='POST')
                    input(name='id', value=event._id, style='display:none')
                    button(id='deleteEvent', class='btn btn-default pull-right', type='submit') Delete
            #attendees 
              h2.text-left.attendee-title Attendees
                div.attendee-section
                  -match = -1
                  each attendee in event.attendees
                    if (attendee._id.toString() === user._id.toString())
                      -match = 0
                      -break
                  if (match === -1)
                    form#editEvent(action='/attend', method='POST')
                      input( name='id', value=event._id, style='display:none')
                      button(id='rsvp', class='btn btn-default pull-right rsvp', type='submit') RSVP
                  else 
                    form#editEvent(action='/decline', method='POST')
                      input( name='id', value=event._id, style='display:none')
                      button(id='rsvp', class='btn btn-default pull-right unrsvp', type='submit') Can't Go
                  ul.attendee
                    each attendee in event.attendees 
                      li.attendee #[a(href='/profile?id='+attendee._id)= attendee.fullName]
            #comments
              h2.text-left.comment-title Comments
                div.comments-section
                  ul
                    each comment in event.comments
                      li.comment-user
                        if comment.user === null
                          | [deleted user]
                          p.text-left.comment-text #{comment.text}
                        else
                          |#[a(href='/profile?id='+comment.user._id)=comment.user.fullName]
                          p.text-left.comment-text #{comment.text}
                      hr(style="margin-right:50px;")
                  div.comment-input-section
                    form#comment(action='/addComment', method='POST')
                      input(name='id', value=event._id, style='display:none')
                      input(type='text', name='text', class='form-control comment-input', placeholder='Add a comment...', autocomplete='off')
                      button(id='addComment' class='btn btn-default pull-right', type='submit') Comment