extends layout

block content

	div.container-fluid
		div.row
			div.col-sm-3.col-md-2.sidebar
				ul.nav.nav-sidebar
					li
						img.img-responsive.img-circle(src='https://freeiconshop.com/files/edd/person-flat.png', width='200', height='200', alt='Generic placeholder thumbnail')
					li
						h4 #{profile.fullName}
					li.text-muted
						p #{profile.role}
					if (user.role === "ADMIN" && profile.role !== "ADMIN")
						li.btn-group
								a#promoAdmin.btn.btn-default.btn-sm(data-button= profile._id, role='button') Promote to Admin

			div.col-sm-6.col-md-8
				#profile
					if user.id === profile.id
						h1.text-left.login-title Hi #{profile.fullName}. Check your details below:
					else
						h1.text-left.login-title #{profile.fullName}
					div.signup-wall.container-fluid
						div.account-info.col-md-6
							ul.user-details
								li.user-details Name: #{profile.fullName}
								li.user-details Email: #{profile.email}
								li.user-details Biography: #{profile.biography}
						if ( user.id === profile.id || user.role === "ADMIN" )
							div.edit-profile.col-md-6
								form#editProfile(action='/deleteUser', method='POST')
									input(name='id', value=profile.id, style='display:none')
									button(id='deleteUser', class='btn btn-default pull-right delete-account', type='submit') Delete
								a.btn.btn-default.pull-right(onclick='showFormInput()', role='button') Edit Profile
								form#editProfile.form-editProfile(action='/profile?id=' + profile.id, method='POST' name='editProfile')
									.form-group(style='display:none')
										label(for='inputName')
											| Name: 
										input#inputName.form-control(type='text', name='fullName', placeholder='Name')
									.form-group(style='display:none')
										label(for='inputEmail')
											| Email: 
										input#inputEmail.form-control(type='text', name='email', placeholder='Email')
									.form-group(style='display:none')
										label(for='inputPassword')
											| Password: 
										input#inputPassword.form-control(type='password', name='password', placeholder='Password')
									.form-group(style='display:none')
										label(for='inputInfo')
											| Biography: 
										textarea#inputInfo.form-control(rows='4', name='bio', placeholder='Bio')
										button.btn.btn-default(type='submit') Submit
			
					#events
						h1.text-left.login-title Events Created
						ul
							each event in profile.eventsCreated
								li
									a(href='/event?id='+event._id)= event.title
						h1.text-left.login-title Events Going
						ul
							each event in profile.eventsGoing
								li
									a(href='/event?id='+event._id)= event.title
