extends layout

block content
  -
    sportsEnum = ["", "BADMINTON", "BASKETBALL", "BOWLING", "CRICKET", "EUROPEAN HANDBALL", "FIELD HOCKEY", "FLAG FOOTBALL",
    "HOCKEY", "LACROSSE", "RUGBY", "SOCCER", "SOFTBALL", "SQUASH", "TABLE TENNIS",
    "TENNIS", "TRACK MEET", "ULTIMATE FRISBEE", "VOLLEYBALL", "WATER POLO"]

  h1 Dashboard 

  div.container-fluid
      a(href='/#', class='pull-right') Search for User
      form(class='form-event', method='GET')
                select(name='type', class='form-control', placeholder='Activity', autofocus)
                  each item in sportsEnum
                    option= item
                input#autocomplete(type='text', name='location', class='form-control', placeholder='Location', autofocus)
                input(type='datetime-local', id = 'startdate', name='startdate', class='form-control', placeholder='Start Date', autofocus)
                input(type='datetime-local', id = 'enddate', name='enddate', class='form-control', placeholder='End Date', autofocus)
                button(class='btn btn-lg btn-primary btn-block', type='submit') Search
                span.clearfix

      div.col-sm-6.col-md-8
      h1 Upcoming Events
      for event in events
        #event
          
            div.event-wall
              div.event-info
                ul.event-details                
                  h3 #[a(href='/event?id='+event.id)= event.title]
                  li
                    if event.createdBy === null
                      |Organizer: [deleted]
                    else
                      |Organizer: #[a(href='/profile?id='+event.createdBy._id)= event.createdBy.fullName]
                  li Date: #{event.date}
                  li Location: #{event.location} 
                  li Activity: #{event.type}
                  li Number of Players: #{event.numRequired}
                hr(style="margin-left:20px;")
                div.event-description
                  p #{event.description}

